<app-header></app-header>

<div class="rightContainer">
  <div class="rightContentHolder">

      <table id="userLogs">
          <tr>
            <th>User Account</th>
            <th>Login In Time</th>
            <th>Log Out Time</th>
            <th>IP Address</th>
            <th>Usage Duration</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
          </tr>
          <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
            </tr>
        </table>



</div>
</div>