#userLogs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#userLogs td, #userLogs th {
    border: 1px solid #ddd;
    padding: 8px;
}

#userLogs tr:nth-child(even){background-color: #f2f2f2;}

#userLogs tr:hover {background-color: #ddd;}

#userLogs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.rightContentHolder{
    background: #ffffff;
    padding: 10px;
}