<app-header></app-header>
<div class="rightContainer">
  <div class="rightContentHolder">
    

 
<div class="chartDisplay status">
  <div class="stockNameHolder">
    <h1>Stock Participant </h1>
    <h2>Microsoft Corporation</h2>
  </div>
  <ul>
    <li>
    <h3 class="OpeningStock">Opening <span>{{stockStatus.open}}</span></h3>
    </li>
    <li>
    <h3 class="LowestStock">Lowest <span>{{stockStatus.low}}</span></h3>
    </li>
    <li>
    <h3 class="HighestStock">Highest <span>{{stockStatus.high}}</span></h3>
  </li>
  <li>
    <h3 class="ClosingStock">Closing <span>{{stockStatus.close}}</span></h3>
  </li>
</ul>
</div>

<div class="chartDisplay">
<canvas id="myChart"></canvas>
</div>

<div class="chartDisplay sharePriceDisplay">
<div class="sharePriceHolder">
  <h1>Others Shares</h1>
    <ul class="">
      <li>Microsoft (MSFT) {{otherSharesData["_stockPrice"][0]}}</li>
      <li>Google (GOOG) {{otherSharesData["_stockPrice"][1]}} </li>
      <li>IBM (IBM) {{otherSharesData["_stockPrice"][2]}}</li>
      <li>Apple (AAPL) {{otherSharesData["_stockPrice"][3]}}</li>
      <li>Amazon (AMZN) {{otherSharesData["_stockPrice"][4]}}</li>
    </ul>
  </div>

  <div class="sharePriceHolder">
    <div class="otherSharesHolder">
      <canvas id="otherShares"></canvas>
    </div>
    </div>
</div>

</div>