<div class="newsMainContainer">
    <div class="contryContainer">
      <h4>Choose country</h4>
        <ul>
          <li *ngFor="let country of countries" (click)="changeCountry(country)" ><img src="https://newsapi.org/images/flags/{{country.lable}}.svg" width="20px" /> {{country.country}}</li>
        </ul>
    </div>
    
    <div class="newsArticleContainer">

      <h2>Your viewing the news of {{chosenCountry.country}} </h2>
    <ul class="newsContainer">
    <li *ngFor="let article of articles" class="newsArticalContainer">
         <a href="{{article.url}}" class="newsLink">
          <div class="articleImageContainer">
                <img src="{{ article.urlToImage ? article.urlToImage : '/assets/images/No_Image_Available.jpg'}}"class="articleImg" alt="{{article.title}}">
          </div>
          <div class="articleContent">
              <ul class="articleContent">
                <li class="articlePublishDetails">{{article.source.name}} - {{article.publishedAt}}, {{article.author}}</li>
                <li class="articleTitle">{{article.title}}</li>
                <li class="articleDescription">{{article.description}}</li>
              </ul>
          </div> 
      </a>
      </li>
    </ul>
  </div>

</div>

